
EscapeGameHorror/Intermediate/CachedAssetRegistry.bin
EscapeGameHorror/Saved/Config/CrashReportClient/UE4CC-Windows-31E42A5C4CEDF59656ADC3823EA3AE61/CrashReportClient.ini
EscapeGameHorror/Saved/Config/Windows/EditorPerProjectUserSettings.ini
EscapeGameHorror/Saved/Config/Windows/Engine.ini
EscapeGameHorror/Saved/Logs/EscapeGameHorror-backup-2021.10.12-08.34.31.log
EscapeGameHorror/Saved/Logs/EscapeGameHorror.log
